/* @import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-light-bg dark:bg-dark-bg text-gray-800 dark:text-gray-100 transition-colors duration-300;
} */

@font-face {
  font-family: 'LPMQ IsepMisbah';
  src: url('https://lpmq.kemenag.go.id/cdn/fonts/lpmq.ttf') format('truetype');
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-light-bg dark:bg-dark-bg text-gray-800 dark:text-gray-100 transition-colors duration-300;
}

/* Paksa semua teks Arab pakai font Kemenag */
.font-arabic {
  font-family: 'LPMQ IsepMisbah', serif;
}